*.suo
*.user
*.vs10x
*.docstates
bin/
obj/
Build/
packages/
_ReSharper.*/
*.dotCover
Samples*
StyleCop*
*headerxproject*
NContext*Tests*
NContext*Dto*Extensions*
NContext*RavenDB*
NContext*Snap*
NContext*Async*
*ncrunch*
*Specs*
*nspec*